// =============================================================================
// Legacy IE support
// =============================================================================
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;


// =============================================================================
// Colors
// =============================================================================
$black: black;
$white: white;
$grey-dark: #161616;
$grey-mid: #222222;
$grey-light: #575757;


// =============================================================================
// Fonts
// =============================================================================
$default-font-family: 'Josefin Sans', sans-serif;
$base-font-size:   18px; // The font size set on the root html element.
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.
@include establish-baseline();


// =============================================================================
// Grid
// =============================================================================
//
// Breakpoints
$small: 500px;
$regular: 768px;


// =============================================================================
// Misc
// =============================================================================
//
// number of nav items
$nav-items: 4;


