<div id="footer">
    <div class="inner-wrapper">
        <span class="credit">&copy; Imfaber</span>
        <ul class="follow-me">
          <li class="in">
            <a href="http://www.linkedin.com/pub/fabrizio-meinero/35/a57/782" title="Linkedin profile" target="_blank"><i class="fa fa-linkedin-square"></i></a>
          </li>
          <li class="tw">
            <a href="https://twitter.com/imfaber" title="Twitter profile" target="_blank"><i class="fa fa-twitter-square"></i></a>
          </li>
          <li class="gh">
            <a href="https://github.com/imfaber" title="Github profile" target="_blank"><i class="fa fa-github-square"></i></a>
          </li>
          <li class="dr">
            <a href="https://www.drupal.org/user/1573964/" title="Drupal profile" target="_blank"><i class="fa fa-drupal"></i></a>
          </li>
        </ul>
        <a href="#" class="v1" title="Go to imfaber.me version 1">v1.0</a>
    </div>
</div>
