description = "Default layout"
==
<?
function onStart(){
    $title = 'Fabrizo Meinero - Web developer';
    if ($this->id!='home') {
        $title = $this->page->title . ' | ' . $title;
    }
    $this->page->title = $title;
    // $this->krumo = krumo($this->page);
}
?>
==
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>{{ this.page.title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" />
        {% styles %}
        <link href="{{ [
            'assets/css/animate.min.css',
            'assets/vendor/font-awesome/css/font-awesome.min.css',
            'assets/css/theme.css'
        ]|theme }}" rel="stylesheet">
    </head>

    <body>

        <div id="layout" class="perspective effect-rotateleft modalview">
        <!-- <div id="layout" class="perspective effect-rotateleft modalview animate"> -->
        <!-- <div id="perspective" class="perspective effect-rotateleft"> -->
            <!-- Header -->
            <header id="layout-header">
                {% partial "header" %}
            </header>

            <!-- Content -->
            <section id="layout-content">
                <div class="inner-wrapper">{% page %}</div>
            </section>

            <!-- Footer -->
            <footer id="layout-footer">
                {% partial "footer" %}
            </footer>
        </div>

        <button id="hamburger"><span></span></button>

        <!-- Scripts -->
        <script src="{{ [
            'assets/js/vendor/modernizr.js',
            'assets/js/vendor/jquery.js',
            'assets/js/vendor/jquery.lettering.js',
            'assets/js/vendor/jquery.textillate.js',
            'assets/js/dist/app.js',
        ]|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>
