description = "Default layout"
==
<?
function onStart(){
    $title = 'Fabrizo Meinero - Web developer';
    if ($this->id!='home') {
        $title = $this->page->title . ' | ' . $title;
    }
    $this->page->title = $title;
    // $this->krumo = krumo($this->page);
}
?>
==
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>{{ this.page.title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" />
        {% styles %}
        <link href="{{ [
            'assets/css/animate.min.css',
            'assets/css/theme.css'
        ]|theme }}" rel="stylesheet">
    </head>

    <body>

        <div id="layout" class="perspective effect-rotateleft modalview animate">
        <!-- <div id="perspective" class="perspective effect-rotateleft"> -->
            <!-- Header -->
            <header id="layout-header">

                <div class="intro">
                    <h1>Fabrizio Meinero - Web developer</h1>
                    <p class="slogan">Crafting bits and pixels since 2001</p>
                </div>


                <!-- Nav -->
                <nav id="layout-nav" class="outer-nav vertical" role="navigation">
                    <ul class="nav nav-inline">
                        <li class="item-0{% if this.page.id == 'home' %} active{% endif %}"><a href="{{ 'about'|page }}"><span class="order">01.</span> ABOUT</a></li>
                        <li class="item-1{% if this.page.id == 'work' %} active{% endif %}"><a href="{{ 'work'|page }}"><span class="order">02.</span> WORK</a></li>
                        <li class="item-2{% if this.page.id == 'contact' %} active{% endif %}"><a href="{{ 'contact'|page }}"><span class="order">03.</span> CONTACT</a></li>
                    </ul>
                </nav>

            </header>

            <!-- Content -->
            <section id="layout-content">
                <div class="inner-wrapper">{% page %}</div>
            </section>

            <!-- Footer -->
            <footer id="layout-footer">
                {% partial "footer" %}
            </footer>
        </div>

        <!-- Scripts -->
        <script src="{{ [
            'assets/js/vendor/modernizr.js',
            'assets/js/vendor/jquery.js',
            'assets/js/vendor/jquery.lettering.js',
            'assets/js/vendor/jquery.textillate.js',
            'assets/js/dist/app.js',
        ]|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>
